Cython
certifi
requests
yarl
colorama
dnspython
asyncstdlib
aiohttp_socks
aiohttp>=3.8.0
async-timeout
frozenlist
uvloop>=0.16.0; sys_platform != "win32" and sys_platform != "cygwin"
pyopenssl
cryptography>=37.0
psutil>=5.9.0
jinja2>=3.1.2
